USE hotel;

-- Tạo bảng 'phong_1'
CREATE TABLE IF NOT EXISTS `phong_1` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
CREATE TABLE IF NOT EXISTS `phong_10` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 11]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_11'
CREATE TABLE IF NOT EXISTS `phong_11` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 12]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_12'
CREATE TABLE IF NOT EXISTS `phong_12` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 2]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_2` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 3]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_3` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 4]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_4` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 5]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_5'
CREATE TABLE IF NOT EXISTS `phong_5` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 6]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_6'
CREATE TABLE IF NOT EXISTS `phong_6` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 7]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_7` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 8]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_8'
CREATE TABLE IF NOT EXISTS `phong_8` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 9]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_9` (
    `STT` INT NOT NULL,
    `loaiPhong` CHAR(10) NULL,
    `donGia` FLOAT NULL,
    `soGio` INT NULL,
    `hoaDon` NCHAR(10) NULL,
    `ngayNhan` DATE NULL,
    `ngayTra` DATE NULL,
    `maHoaDon` INT NULL,
    `tenKhachHang` NVARCHAR(50) NULL,
    `ngayLapHoaDon` DATE NULL,
    `thanhTien` FLOAT NULL,
    PRIMARY KEY (`STT`)
) ENGINE=InnoDB;
